.cover {
  width: 350px;
  height: 500px;
  /* background-color: #a1a1a1; */
  /*  gradient */
  background-image: linear-gradient(rgb(170, 104, 104), rgb(196, 178, 178), rgb(144, 84, 84));
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  
  


}

#title {
  padding:45px;
  font-size: 50px;
  /* text shadow */
  text-shadow: 10px 5px rgb(202, 202, 202);
  font-family: 'Source Code Pro', monospace;
}

#subtitle {
  margin-top: -70px;
  font-size:14px;
  margin-left:100px;
  opacity:45%;
  color:aqua;
  font-family: 'Anton', sans-serif;

}

#cover_image {
  width: 240px;
  margin-top: 60px;
  /* box shadow */
  box-shadow: 10px 5px 5px rgb(117, 71, 79);
}
